<div class="footer-elements">
    <div class="footer-element col-md-2 text-center text-lg-end">
        <a class="logo-anchor" href="#">
            <img src="assets/logo.png" alt="Logo" class="logo-image" />
        </a>
        <p class="footer-rights"> جميع الحقوق محفوظة <br>لموقع وسيلتي <span>© <!-- -->2025</span></p>
        <div class="social-media-icons">
            <a href="https://www.facebook.com/waseela.kw" target="_blank" aria-label="facebook">
                <i class="fab fa-facebook"></i>
            </a>
            <a href="https://www.instagram.com/waseelati1" target="_blank" aria-label="instagram">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://twitter.com" target="_blank" aria-label="Twitter">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
    </div>

    </div>
    <div class="footer-element col-md-2 text-center text-lg-end">
        <h4>{{title_01}}</h4>
        <a *ngFor="let element of ElementsColumn_01;" [routerLink]="element.link">
            {{element.name}} </a>
    </div>

    <div class="footer-element col-md-2 text-center text-lg-end">
        <h4>{{title_02}}</h4>
        <a *ngFor="let element of ElementsColumn_02;" [routerLink]="element.link">
            {{element.name}} </a>
    </div>
   <div class="footer-element col-md-2 text-center text-lg-end">
        <h4>{{title_03}}</h4>
        <a *ngFor="let element of ElementsColumn_03;" [routerLink]="element.link">
            {{element.name}} </a>
    </div>
</div>
