<app-homepage-all-categories-section></app-homepage-all-categories-section>
<app-static-section1></app-static-section1>
<app-category-summary></app-category-summary>
<app-category-summary></app-category-summary>
<app-category-summary2></app-category-summary2>
<app-category-summary></app-category-summary>
<app-category-summary2></app-category-summary2>
<div class="container d-flex rtl my-3" style="gap: 20px;">
    <app-item1 *ngFor="let item of item1SectionArray" [itemData]="item" style="width: 50%;"></app-item1>
</div>