<section>
    <div class="container">
        <h5 [class.text-start]="lang != 'ar'">{{product.name}}</h5>
        <div class="row" [class.flex-row-reverse]="lang != 'ar'">
            <div class="col-md-3" [class.text-start]="lang != 'ar'" [dir]="lang != 'ar' ? 'ltr' : 'rtl'">
                <app-single-product-sidebar [product]="product"></app-single-product-sidebar>
            </div>
            <div class="col-md-9" [class.text-start]="lang != 'ar'" [dir]="lang != 'ar' ? 'ltr' : 'rtl'">
                <app-single-product-content [product]="product"></app-single-product-content>
            </div>
        </div>
    </div>
</section>
