<section class="mb-4">
  <div class="container">
    <div class="row" style="direction: rtl;">
      <div class="col-md-4 text-center part">
        <span class="block mb-16 bold">صوّر . أعلن . بيع</span>
        <img
          alt="أضف إعلانك الآن"
          width="100%"
          height="100%"
          loading="lazy"
          src="https://opensooqui2.os-cdn.com/prod/public/images/homePage/homeBanner-1.webp"
        />
        <button class="">
          أضف إعلانك الآن
        </button>
      </div>
      <div class="col-md-4 middle text-center part">
        <div class="bg-white">
          <span class="d-block bold pb-16">60 مليون</span> مستخدم عربي
        </div>
        <div class="bg-white">
          <span class="d-block bold mb-32">أفضل الأسعار</span>أضف إعلانك وابدأ في
          جني الأموال
        </div>
      </div>
      <div class="col-md-4 text-center part">
        <span class="blueColor bold text-primary">ابحث . اتصل . اشتري</span>
        <img
          alt="أضف إعلانك الآن"
          width="100%"
          height="100%"
          src="https://opensooqui2.os-cdn.com/prod/public/images/homePage/homeBanner-2.webp"/>
        <a class="bg-primary">اشتري الآن</a>
      </div>
    </div>
  </div>
</section>
