<app-vehicles-filter></app-vehicles-filter>

<section dir="rtl">
    <div class="container">
        <h4>الأقسام</h4>
        <app-sub-categories [items]="subCategories"></app-sub-categories>
    </div>
</section>

<app-category-summary [category]="Cat" [topProducts]="topProducts"></app-category-summary>
<app-category-summary [category]="Cat" [topProducts]="topProducts"></app-category-summary>
<app-stores-summary [stores]="stores"></app-stores-summary>
<app-category-summary [category]="Cat" [topProducts]="topProducts"></app-category-summary>