<div class="cars-category" [ngClass]="currentLang =='ar' ? 'cars-category-rtl-layout' : 'cars-category-ltr-layout'">
  <div class="product-container">
    <div class="product-card" *ngFor="let product of paginatedProducts; trackBy: trackProductById">
      <product-card [image]='product.imagesUrl[0] || "assets/placeholder.jpg"' [title]="product.name"
        [description]="product.description" [location]="product.location" [mobile]="product.mobile"
        [price]="product.price" [currency]="currency" [navigateTo]="product.navigateTo" [id]="product.id" [subCategoryName]="product.subCategoryName">
      </product-card>
    </div>
    <div class="no-results" *ngIf="paginatedProducts.length==0">
      <h2 *ngIf="currentLang=='ar'">
        لم يتم العثور على نتائج
      </h2>
      <h2 *ngIf="currentLang=='en'">
        No results found </h2>
    </div>
  </div>
</div>
<!-- Paginator -->
<mat-paginator [length]="totalProducts" [pageSize]="pageSize" [pageSizeOptions]="[5,10,20, 50]"
  (page)="onPageChange($event)" showFirstLastButtons>
</mat-paginator>