/* .hero-swiper {
    width: 100%;
    max-width: 90rem;
    margin: auto;
  } */
  
  /* .slide-content {
    position: relative;
    text-align: center;
  }
  
  .slide-image {
    width: 100%;
    height: 42rem;
    object-fit: cover;
    border-radius: 10px;
  } */


 /* .slide-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60rem;
}

.slide-image {
  width: auto;
  height: 90%;
  object-fit: contain;
} */
 
  
  /* h2 {
    margin: 0;
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
  }
   */


.hero-swiper {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.slide-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-image2 {
  width: 100%;
  height: 100vh;
  object-fit: contain;
  display: block;
  /* background: #000;  */
}

.slide-image {
  max-width: 100%;
  max-height: 100vh;
  margin: 0 auto;
  display: block;
}

.slide-text {
  position: absolute;
  bottom: 10%;
  left: 5%;
  color: white; 
  /* background: rgba(0, 0, 0, 0.4); */
  padding: 1rem 2rem;
  border-radius: 8px;
  max-width: 60%;
  font-size: 1.2rem;
}