<div class="contact-card-container">
<div class="contact-card">
  <div class="image-container">
    <img [src]="imageUrl" alt="User Photo" class="profile-photo">
  </div>

  <div class="card-body">
    <h3>{{ name }}</h3>
    <p>{{ title }}</p>

    <button class="call-btn" (click)="callUser()">
      <fa-icon [icon]="['fas', 'phone']"></fa-icon>
      <span>{{phoneNumber}}</span>
    </button>

    <button class="whatsapp-btn" (click)="whatsappUser()">
      <fa-icon [icon]="['fab', 'whatsapp']"></fa-icon>
      <span>{{phoneNumber}}</span>
    </button>
  </div>
</div>
</div>


