<section>

  <div class="container">
    <h3 dir="rtl">ما الذي تود بيعه او الإعلان عنه؟</h3>
    <div class="row">
        <div *ngIf="category" class="col-md-9 subcategories-container">
          <ul>
            <li 
              *ngFor="let subcategory of category.subCategories" 
              (click)="navigateToForm(subcategory.id)"
              class="subcategory-item"
            >
              {{ subcategory.name }}
            </li>
          </ul>
        </div>
    </div>
  </div>

</section>

