<section>

  <div class="container">
    <h3 [dir]="lang == 'ar' ? 'rtl' : 'ltr'">{{lang == 'ar' ? 'ما الذي تود بيعه او الإعلان عنه؟' : 'What do you want to sell or advertise?'}}</h3>
    <div class="row">
        <div *ngIf="category" class="col-md-9 subcategories-container" [ngStyle]="{'margin-left': lang == 'ar' ? 'auto' : ''}">
          <ul>
            <li 
              *ngFor="let subcategory of category.subCategories" 
              (click)="navigateToForm(subcategory.id)"
              class="subcategory-item" [class.text-start]="lang != 'ar'"
            >
              {{ subcategory.name }}
            </li>
          </ul>
        </div>
    </div>
  </div>

</section>

