.qa-container {
  max-width: 600px;
  margin: 50px auto; 
  text-align: center;
}

.qa-header {
  margin-bottom: 30px;
  color: #3f51b5; 
  direction: rtl;
}

mat-expansion-panel {
  /* text-align: right; */
  margin-bottom: 15px; 
}

mat-expansion-panel-header{
  direction: rtl;
}

mat-panel-title{
  font-size: 16px;
  font-weight: 800;
}





