<section class="mb-4">
    <div class="container">
        <app-homepage-sections-header rightText="سوق الكويت المفتوح" leftText="شاهد الكل" leftLink="test"></app-homepage-sections-header>
        <div class="d-flex categories">
            <app-homepage-single-category 
            class="text-center" 
            style="width: 11.77%;" 
            *ngFor="let category of categories;"
            [id]="category.id"
            [imageUrl]="category.imageUrl"
            [name]="category.name"
            ></app-homepage-single-category>
        </div>
    </div>
</section>