<section class="mb-4">
    <div class="container">
        <app-homepage-sections-header rightText="سوق الكويت" leftText="شاهد الكل" leftLink=""></app-homepage-sections-header>
        <div class="d-flex categories">
            <app-homepage-single-category 
            class="text-center" 
            style="width: 11.77%;" 
            *ngFor="let subCategory of subCategories;"
            [id]="subCategory.id"
            [imageUrl]="subCategory.imageUrl"
            [name]="subCategory.name"
            ></app-homepage-single-category>
        </div>
    </div>
</section>