<div class="gallery">
<swiper
      style="--swiper-navigation-color: #fff;--swiper-pagination-color: #fff"
      [spaceBetween]="10"
      [navigation]="product.productImages.length > 1 ? true : false"
      [loop]="true"
      [speed]="100"
      [thumbs]="{ swiper: thumbsSwiper }"
      class="mainSlider"
    >
      <ng-template swiperSlide *ngFor="let image of product.productImages">
        <img [src]="image" />
        </ng-template>
    </swiper>
    <swiper
      (swiper)="thumbsSwiper = $event"
      [spaceBetween]="10"
      [slidesPerView]="8"
      [freeMode]="true"
      [watchSlidesProgress]="true"
      [height]="84"
      [autoHeight]="false"
      [speed]="100"
      class="thumbsSlider"
    >
    <ng-template swiperSlide *ngFor="let image of product.productImages">
        <img [src]="image" />
        </ng-template>
    </swiper>
</div>
<div class="info">
    <h4>{{lang == 'ar' ? 'المعلومات' : 'Information'}}</h4>
    <p>{{product.description}}</p>
    <ul class="d-flex" [class.flex-row-reverse]="lang != 'ar'">
        <li class="d-flex" [class.flex-row-reverse]="lang != 'ar'" *ngFor="let item of product.informations; let i = index;" [ngClass]="{'greyBg': i%4==0 || i%4==1}">
            <p>{{item.key}}</p>
            <span>{{item.value}}</span>
        </li>
    </ul>
</div>
<div class="similiar">
    <h4>{{lang == 'ar' ? 'اعلانات مشابهة' : 'Similiar Products'}}</h4>
    <div class="products d-flex" [class.flex-row-reverse]="lang != 'ar'">
        <app-single-product style="width: 24%;" *ngFor="let product of topProducts" [product]="product"></app-single-product>
    </div>
</div>