<div class="app-header">
  <!-- Logo Section -->
   <div class="locaions-search col-md-4">
  <a class="logo-anchor" href="#">
    <img src="assets/logo.png" alt="Logo" class="logo-image" />
  </a>

  <!-- Select with Search Input -->
  <!-- <form class="example-form hide">
    <mat-form-field class="example-full-width">
      <mat-label>الكويت</mat-label>
      <input type="text"
             [dir]="isRtl ? 'rtl' : 'ltr'"
             placeholder="اختر مدينة"
             aria-label="Number"
             matInput
             [formControl]="myControl"
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        @for (option of filteredOptions | async; track option) {
          <mat-option  [value]="option">{{option}}</mat-option>
        }
      </mat-autocomplete>
    </mat-form-field>
  </form> -->
</div>
  <!-- Buttons Section -->
  <div class="button-group  col-md-3">
      <!-- <button mat-icon-button aria-label="Notifications" class="notification-button">
          <mat-icon>notifications</mat-icon>
          <span *ngIf="notificationCount > 0" class="notification-badge">{{ notificationCount }}</span>
        </button> -->
    <button mat-icon-button aria-label="Home">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button aria-label="User">
      <mat-icon>person</mat-icon>
    </button>
  </div>

  <button *ngIf="!isLoggedIn" mat-raised-button color="accent" class="sign-up" (click)="Login()">
    Login
    <mat-icon>person_add</mat-icon>
  </button>
  <button *ngIf="isLoggedIn" mat-raised-button color="accent" class="sign-up" (click)="LogOut()">
    Log Out
  </button>
<div class="action-buttons col-md-3">
  <button mat-raised-button color="accent" class="add-button" (click)="AddProduct()">
    <mat-icon>photo_camera</mat-icon>
    أضف إعلانك الآن
  </button>
</div>


</div>
