<div class="cars-category">
<div class="sidebar-search">
<sidebar-search [filters]="filterConfigs"></sidebar-search>
</div>
<div class="product-container">
    <div class="product-card" *ngFor="let product of paginatedProducts">
      <product-card 
      [image]='product.imagesUrl[0] || "assets/placeholder.jpg"'
      [title]="product.title"
      [description]="product.description"
      [location]="product.location"
      [mobile]="product.mobile"
      [price]="product.price"
      [currency]="currency"
      [navigateTo]="product.navigateTo"
      >
    </product-card> 
    </div>
    <div class="no-results" *ngIf="paginatedProducts.length==0">
      <h2>
        لم يتم العثور على نتائج
      </h2>
  </div>
  </div>
</div>
  <!-- Paginator -->
  <mat-paginator
    [length]="totalProducts"
    [pageSize]="pageSize"
    [pageSizeOptions]="[5,10,20, 50]"
    (page)="onPageChange($event)"
    showFirstLastButtons>
  </mat-paginator>
