@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100..900&display=swap");
/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
html {
  --mat-option-label-text-font: "Vazirmatn", "Helvetica Neue", sans-serif !important;
  --mat-option-focus-state-layer-color: #fff !important;
  --mat-option-label-text-line-height: 24px;
  --mat-option-label-text-size: 16px;
  --mat-option-label-text-tracking: 0.03125em;
  --mat-option-label-text-weight: 400;
  --mat-form-field-container-height: 40px;
}

body {
  margin: 0;
  font-family: "Vazirmatn", "Helvetica Neue", sans-serif;
}

:root {
  --mdc-filled-text-field-container-color: white; /* Default color */
  --bs-primary: #0061fe;
  --swiper-navigation-size: 20px;
  --primary-color: #6b2327;
  --secondary-color: #15080a;
  --third-color: #ffffff;     
}

a {
  text-decoration: none;
  color: #0061fe;
}
a:hover {
  color: #0061fe;
}

img {
  max-width: 100%;
  object-fit: cover;
}

.rtl {
  direction: rtl;
}
.black {
  color: black;
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1221px;
  }
}

.mat-mdc-autocomplete-panel::-webkit-scrollbar {
  width: 9px !important;
}

.mat-mdc-autocomplete-panel::-webkit-scrollbar-track {
  background-color: rgb(226, 226, 226);
}

.mat-mdc-autocomplete-panel::-webkit-scrollbar-thumb {
  background-color: rgb(204, 203, 203);
  border-radius: 5px;
}
.mat-mdc-tab-header {
  --mat-tab-header-label-text-font: "Vazirmatn", "Helvetica Neue", sans-serif;
  --mat-tab-header-label-text-size: 17px;
  --mat-tab-header-label-text-line-height: 36px;
  --mat-tab-header-label-text-weight: normal;
  --mdc-secondary-navigation-tab-container-height: 36px;
}
.mat-mdc-tab {
  letter-spacing: normal !important;
  color: #000 !important;
}
.filters-tab {
  background-color: rgb(248, 248, 248) !important;
  margin-left: 10px !important;
  border-radius: 10px 10px 0 0;
  max-width: 115px;
}
.filters-tab.mdc-tab--active {
  background-color: #fff !important;
  font-weight: bold;
}
.mat-mdc-tab:hover .mdc-tab__ripple::before {
  display: none !important;
}
.mdc-tab-indicator,
.mdc-line-ripple {
  display: none !important;
}
.mat-mdc-tab.mdc-tab--active .mdc-tab__text-label {
  color: #000 !important;
}

.tabsContent .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #f2f2f7;
  border-radius: 8px;
}

.swiper-button-prev,
.swiper-button-next{
    width: 40px;
    border-radius: 100%;
    height: 40px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
    margin-top: calc(0px - (var(--swiper-navigation-size)));
    background-color: #fff;
}
.swiper-button-prev::after,
.swiper-button-next::after{
  color: #000;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}
.thumbsSlider .swiper-slide{
  border: 4px solid transparent;
  cursor: pointer;
}
.thumbsSlider .swiper-slide-thumb-active{
  border: 4px solid #337ab7;
  border-radius: 8px;
}
.thumbsSlider img{
  height: 84px;
  width: 100%;
}

.mainSlider{
  background-color: #f7f7fd;
}
.mainSlider img{
  display: block;
  margin: 0 auto;
}
.mainSlider img{
  width: auto;
  max-height: calc(100vh - 80px);
}