<div class="terms-of-use">
    <h1>{{pageHeader}}</h1>
</div>
<div *ngFor="let section of sections" class="mb-4 term-element" [ngClass]="{'rtl': isRtl, 'ltr': !isRtl}">
  <h3 *ngIf="section.header">{{ section.header }}</h3>
  <h5 *ngIf="section.subHeader">{{ section.subHeader }}</h5>

  <div *ngIf="section.contentType === 'paragraph'">
    <p>{{ section.contentText }}</p>
  </div>

  <ul *ngIf="section.contentType === 'bullets'">
    <li *ngFor="let item of section.contentText.split('\n')">{{ item }}</li>
  </ul>

  <div *ngIf="section.contentType === 'image'">
    <img [src]="section.contentText" [alt]="section.caption" class="img-fluid" />
  </div>
 <div *ngIf="section.caption">
    <p>{{ section.caption}}</p>
  </div>
  <small *ngIf="section.footer" class="text-muted">{{ section.footer }}</small>
  <hr />
</div>
<!-- <div class="term-element">
    <h3>1. مقدمة</h3>
    <p>
        مرحبًا بك في موقع وتطبيق "وسيلتي للإعلانات المبوبة والتجارية". باستخدامك لخدماتنا، فإنك توافق على الالتزام بشروط
        وأحكام الاستخدام هذه. إذا كنت لا توافق على أي جزء من هذه الشروط، يُرجى عدم استخدام الموقع أو التطبيق.
    </p>
</div>
<div class="term-element">
    <h3>2. التعريفات</h3>
    <ul>
        <li>"وسيلتي": تشير إلى الموقع والتطبيق المملوك الي شركة الوسيلة للدعايا و الإعلان ترخيص رقم 526-2022</li>
        <li>"المستخدم": يشير إلى أي شخص يقوم باستخدام الموقع أو التطبيق.</li>
        <li>"المحتوى": يشير إلى جميع الإعلانات، النصوص، الصور، الفيديوهات، والمعلومات المنشورة على المنصة.</li>
    </ul>
</div>
<div class="term-element">
    <h3>3. استخدام الخدمات</h3>
    <ul>
        <li> يُسمح للمستخدمين بنشر الإعلانات المبوبة والتجارية وفقًا للأنظمة والقوانين المحلية.</li>
        <li> يجب أن تكون جميع المعلومات المقدمة صحيحة ودقيقة ومحدثة.</li>
        <li> يُحظر نشر أي محتوى غير قانوني أو مسيء أو ينتهك حقوق الغير.</li>
        <li> لا يجوز استخدام الموقع أو التطبيق لأي أغراض احتيالية أو غير مشروعة.</li>
    </ul>
</div>
<div class="term-element">
    <h3>4. الإعلانات والمحتوى</h3>
    <ul>
        <li> يتحمل المستخدم المسؤولية الكاملة عن المحتوى الذي يقوم بنشره.</li>
        <li> تحتفظ الوسيلة بالحق في تعديل أو حذف أي محتوى يخالف الشروط دون إشعار مسبق.</li>
        <li> يحق للوسيلة فرض رسوم على بعض الخدمات الإعلانية وفقًا لسياسة التسعير المعلنة.</li>
    </ul>
</div>
<div class="term-element">
    <h3>5. الدفع والاشتراكات</h3>
    <ul>
        <li> بعض الخدمات الإعلانية قد تتطلب دفع رسوم.</li>
        <li> جميع المدفوعات غير قابلة للاسترداد إلا في الحالات التي تقررها الوسيلة وفقًا لسياستها.</li>
        <li> يتحمل المستخدم مسؤولية دفع جميع الرسوم والضرائب المترتبة على استخدام الخدمات المدفوعة.</li>
    </ul>
</div>
<div class="term-element">
    <h3>6. حقوق الملكية الفكرية</h3>
    <ul>
        <li> جميع المحتويات والمواد المنشورة على الموقع والتطبيق مملوكة للوسيلة أو لأصحابها الشرعيين.</li>
        <li> يُمنع نسخ أو إعادة نشر أي محتوى دون إذن مسبق.</li>
    </ul>
</div>
<div class="term-element">
    <h3>7. المسؤولية وحدود الضمان</h3>
    <ul>
        <li> الوسيلة ليست مسؤولة عن صحة أو دقة الإعلانات المنشورة من قبل المستخدمين.</li>
        <li> لا تضمن الوسيلة استمرارية الخدمات دون انقطاع أو خلوها من الأخطاء.</li>
        <li> لا تتحمل الوسيلة أي مسؤولية عن أي خسائر ناتجة عن استخدام المنصة.</li>
    </ul>
</div>
<div class="term-element">
    <h3>8. إنهاء الاستخدام</h3>
    <ul>
        <li> يحق للوسيلة تعليق أو إيقاف حساب أي مستخدم يخالف الشروط.</li>
        <li> يمكن للمستخدم إنهاء حسابه في أي وقت، دون أن يترتب على الوسيلة أي التزام برد أي رسوم مدفوعة.</li>
    </ul>
</div>
<div class="term-element">
    <h3>9. التعديلات على الشروط</h3>
    <ul>
        <li> تحتفظ الوسيلة بالحق في تعديل هذه الشروط في أي وقت، ويصبح سريان التعديلات فور نشرها على الموقع
            والتطبيق.</li>
        <li> استمرار استخدامك للخدمات بعد التعديلات يعني قبولك للشروط الجديدة. </li>
    </ul>
</div>
<div class="term-element">
    <h3>10. القانون المعمول به</h3>
    <ul>
        <li> تخضع هذه الشروط للقوانين المعمول بها في دولة الكويت. </li>
        <li> في حالة النزاع، تكون المحاكم الكويتية هي الجهة المختصة بالفصل فيه. </li>
    </ul>
</div>
<div class="term-element">
    <h3>11. الاتصال والدعم </h3>
    <p>
        لأي استفسارات أو دعم، يُرجى التواصل معنا عبر البريد الإلكتروني أو الهاتف الموضحين على الموقع والتطبيق.
    </p>
</div>
<div class="term-element">
    <p> آخر تحديث : 23-03-2025</p>
</div> -->