<div class="mainCard">
    <div class="price">12,500 دينار</div>
    <button mat-raised-button color="accent">
        <mat-icon>call</mat-icon>
        01222 
    </button>
    <button mat-raised-button color="accent" class="chat-button my-3">
        <mat-icon>chat</mat-icon>
        <span style="margin-right: 10px;">دردش</span> 
    </button>
    <div class="mt-5">
        <h6>نصائح عامة</h6>
        <ol>
            <li>اجتمع في الأماكن العامة فقط.</li>
            <li>لا تقم بإرسال المال مسبقاً.</li>
            <li>قم بتفقد المنتج جيداً قبل شرائه.</li>
        </ol>
    </div>
</div>
<div class="ownerCard">
    <div class="d-flex">
        <h3>صاحب الإعلان</h3>
    </div>
    <a href="" class="d-flex">
        <div>
            <img width="90" height="90" alt=" امان" loading="lazy" src="https://opensooqui2.os-cdn.com/api/v/icons/misc/no_profile.png">
        </div>
        <div class="d-flex user">
            <h3>امان</h3>
            <div class="darkGrayColor">عضو منذ
                <span class="">٠٥-٠٨-٢٠٢١</span>
            </div>
        </div>
    </a>
</div>
<div class="locationCard">
    <div class="d-flex mb-1">
        <h3>الموقع</h3>
    </div>
    <h6>حولي - السالمية</h6>
    <a href="">
        <img src="https://opensooqui2.os-cdn.com/prod/public/images/postMap.webp" alt="map" width="100%" height="100%">
        <span>عرض على الخريطة</span>
    </a>
</div>