<div class="mainCard">
    <div class="price">{{lang == 'ar' ? product.price + ' دينار' : product.price + ' KWD'}}</div>
    <button class="call-button theme-button">
        <mat-icon>call</mat-icon>
        {{product.contactNumber}}
    </button>
    <button class="chat-button my-3 d-none theme-button">
        <mat-icon>chat</mat-icon>
        <span style="margin-right: 10px;">دردش</span> 
    </button>
    <div class="mt-5">
        <h6>{{lang == 'ar' ? 'نصائح عامة' : 'General tips'}}</h6>
        <ol [dir]="lang != 'ar' ? 'ltr' : 'rtl'">
            <li>{{lang == 'ar' ? 'اجتمع في الأماكن العامة فقط.' : 'Meet in public places only.'}}</li>
            <li>{{lang == 'ar' ? 'لا تقم بإرسال المال مسبقاً.' : 'Do not send money in advance.'}}</li>
            <li>{{lang == 'ar' ? 'قم بتفقد المنتج جيداً قبل شرائه.' : 'Check the product carefully before purchasing it.'}}</li>
        </ol>
    </div>
</div>
<div class="ownerCard">
    <div class="d-flex" [class.flex-row-reverse]="lang != 'ar'">
        <h3>{{lang == 'ar' ? 'صاحب الإعلان' : 'Advertiser'}}</h3>
    </div>
    <a [routerLink]="['/user',product.id]" class="d-flex" [class.flex-row-reverse]="lang != 'ar'">
        <div>
            <img width="90" height="90" alt=" امان" loading="lazy" src="https://opensooqui2.os-cdn.com/api/v/icons/misc/no_profile.png">
        </div>
        <div class="d-flex user">
            <h3>{{product.userName}}</h3>
            <div class="darkGrayColor d-none">عضو منذ
                <span class="">٠٥-٠٨-٢٠٢١</span>
            </div>
        </div>
    </a>
</div>
<div class="locationCard">
    <div class="d-flex mb-1" [class.flex-row-reverse]="lang != 'ar'">
        <h3>{{lang == 'ar' ? 'الموقع' : 'Location'}}</h3>
    </div>
    <h6>{{product.cityName}}</h6>
    <a href="" (click)="mapClick($event)">
        <img src="https://opensooqui2.os-cdn.com/prod/public/images/postMap.webp" alt="map" width="100%" height="100%">
        <span>{{lang == 'ar' ? 'عرض على الخريطة' : 'Show On Map'}}</span>
    </a>
</div>