.subCat{
    gap: 15px;
    flex-wrap: wrap;
}
a{
    width: 187px;
    height: 75px;
    font-size: 0.875em;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f7;
    color: #000;
    border-radius: 8px;
}
a img{
    margin-top: 16px;
    object-fit: contain;
    height: auto;
}